<%- if user_signed_in? %>
  <p>Witaj <%= current_user.email %><br />
  <%= link_to 'Wyloguj się', destroy_user_session_path, :method => :delete %></p>
<%- else %>
  <p>
    <%= link_to 'Zarejestruj się', new_user_registration_path %> |
    <%= link_to 'Zaloguj się', new_user_session_path %>
  </p>
<%- end %>